.header {
    position: fixed;
    right: 0;
}

.admin-login-btn {
    outline: none;
    border: 0;
    background-color: mediumpurple;
    color: white;
    padding: 1em;
    font-size: 1em;
    font-weight: 700;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 2px solid grey;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    left: 1%;
    right: 1%;
    top: 1%;
    bottom: 1%;
}