form {
  display: none;
  flex-direction: column;
  justify-content: center;
}

form > input,
form > input[type="text"] {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ebebeb;
  color: #282c34;
  width: unset;
  margin: 0.5em 0;
}

form > input:focus {
  outline: none;
  background-color: #fff;
}

.submit-btn,
form button:first-child {
  flex: 1;
  background-color: #282c34;
  color: #fff;
  border: 1px solid #282c34;
}

form button {
  color: #282c34;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

form button:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

form > textarea {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ebebeb;
  color: #282c34;
  width: 310px;
  margin: 0.5em 0;
  height: 200px;
}

.form-group {
  display: flex;
}

.form-group > * {
  margin: 0.5em;
}

.show-form {
  display: flex;
}

.forgot-password-link {
  font-size: 0.8em;
  margin-top: 0.5em;
  display: inline;
  cursor: pointer;
}

.add-entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.add-entry-container__header {
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.add-entry-container__header > .caret {
  padding-top: 4px;
  transition: rotate 0.1s ease-in-out;
}

.add-entry-container__header > .caret.show {
  rotate: 90deg;
}

.add-entry-container__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
