.focused-entry {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.focused-entry__header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 380px;
  font-family: var(--font-header);
}

.focused-entry__name {
  font-size: 2.5em;
  background-color: #646b5eb0;
  padding: 0.5em;
  color: white;
  text-align: right;
  transition: all 0.5s ease-in-out;
  text-align: left;
}

.focused-entry__name--header{
  font-size: 0.5em;
}

.focused-entry__avatar {
  background-color: #646b5eb0;
  padding: 1em;
}

.focused-entry__avatar--placeholder {
  height: 300px;
}

.focused-entry__avatar--img {
  height: 295px;
  border-radius: 2%;
}

.focused-entry__details {
  padding: 1.5em;
  overflow: auto;
  flex: 1;
}

.focused-entry__details-title {
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}