.entry {
    padding: 1em;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
}

.entry--focused {
    background-color: #646B5E;
    color: white;
}

.entry--focused * {
    color: white !important;
    background: none !important;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry__avatar {
    margin-right: 1em;
}

.entry__avatar--img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.entry__name {
    text-align: left;
    font-weight: 500;
    font-size: 1.15em;
}

.entry__header * {
    margin: 0.5em 0 !important;
}

.entry__header > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry__header > *:not(:first-child) {
    display: none;
}

.entry__controls {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.entry__controls > * {
    cursor: pointer;
    padding: 1em;
    transition: all 0.1s ease-in-out;
}

.entry__controls > *:hover {
    background-color: #d3d3d3;
    color: #282c34;
}
