.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  order: 1;
  flex-shrink: 0;
  width: 325px;
}

input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ebebeb;
  color: #282c34;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  background-color: #fff;
}

.search {
  position: relative;
  padding: 1.5em;
  margin: 0 1em;
}

.search__clear-btn {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  top: 20px;
  right: 15px;
  border: none;
  color: #7e7e7e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.25em;
}

.entry-list {
  height: 100%;
  border-top: 1px solid #ebebeb;
}