.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  order: 1;
  flex-shrink: 0;
  width: 400px;
}

.search {
  padding: 1em;
  border-bottom: 1px solid #ebebeb;
}

.entry-list {
  height: 100%;
}