.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  order: 1;
  flex-shrink: 0;
  width: 325px;
}

.sidebar--edit-mode {
  width: 100%;
}

input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ebebeb;
  color: #282c34;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  background-color: #fff;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  position: sticky;
  top: -1px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.search {
  position: relative;
  padding: 1.5em 2em;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
}

.search__clear-btn {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  top: 25px;
  right: 23px;
  border: none;
  color: #7e7e7e;
  cursor: pointer;
  padding: 0.25em;
}

.entry-list {
  height: 100%;
}

.entry-count {
  font-weight: 700;
  padding-right: 1em;
}